<h3><%= @user.name %>'s GifWallet</h3>

<p>
<% if self.current_user == @user %>
<%= link_to "Add a new gif", new_picture_path %>
<% end %>
</p>

  <table class="table table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>pic</th>
        <th>url</th>
        <th></th>
        <th></th>
        <th></th>
        <th>tags</th>
      </tr>
    </thead>
    <tbody>
      <% @user.pictures.each do |picture| %>
      <% if picture.user_id ==  @user.id %>
        <% image = "<img src=\"#{picture.url}\">" %>
          <tr>
            <td><a href="<%= picture_path(picture.id) %>"><img src="<%= picture.url %>" class="img-thumbnail thumbs-lib"></a></td>
            <td id="fe_text"><%= link_to picture.url, picture.url %></td>
            <td>
              <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
                <b>Copy to clipboard</b>
              </button>
              <script>
                $(document).ready(function() {
                  var clip = new ZeroClipboard($("#d_clip_button"))
                });

                $("#clear-test").on("click", function(){
                  $("#fe_text").val("Copy me!");
                  $("#testarea").val("");
                });
              </script>
            </td>

            <td><%= link_to "get gfycat", picture %></td>
            <td><%= link_to "edit", edit_picture_path(picture) if self.current_user == @user %></td>
            <td> tags </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
