<h3><%= @user.name %>'s GifWallet</h3>

<p>
<% if self.current_user == @user %>
<%= link_to "Add a new gif", new_picture_path %>
<% end %>
</p>

  <table class="table table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>pic</th>
        <th>url</th>
        <th></th>
        <th></th>
        <th>tags</th>
      </tr>
    </thead>
    <tbody>
      <% @user.pictures.each do |picture| %>
      <% if picture.user_id ==  @user.id %>
        <% image = "<img src=\"#{picture.url}\">" %>
          <tr>
            <td><a href="<%= picture_path(picture.id) %>"><img src="<%= picture.url %>" class="img-thumbnail thumbs-lib"></a></td>
            <td><%= link_to picture.url, picture.url %></td>
            <td><%= link_to "get gfycat", picture.url %></td>
            <td><%= link_to "edit", edit_picture_path(picture) if self.current_user == @user %></td>
            <td> tags </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
