<!DOCTYPE html>
<html>
<head>
  <title>CuteRoulette</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">

  <h1><a class="navbar-brand" href="/pictures">CuteRoulette!</a></h1>

  <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to current_user.email, user_path(current_user)  %></li>
      <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "sign in", new_user_session_path %></li>
      <li><%= link_to "sign up", new_user_registration_path %></li>
    </ul>
  <% end %>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
