<%= form_for @tag do |f| %>

<div class="container">
  <p>
  <%= f.label "enter a tag" %>
  <%= f.text_field :tag_name %>
  <p>
  <%= f.hidden_field :picture_id %>
  <%= f.hidden_field :user_id %>

  <%= f.submit "save"%>
  <% end %>
</div>
