<%= form_for @picture do |f| %>

  <div class="form-group">
    <%= f.label "Picture URL:" %>
    <%= f.text_field :url %>
  </div>
    <%= f.hidden_field :user_id %>

  <%= f.submit "save", class: "btn btn-default" %>
  <% end %>
