<div class="page-header">
  <h2><%= current_user.email %>'s GifWallet!</h2>
</div>

<p>
<%= link_to "Add a new gif", new_picture_path %>
</p>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>url</th>
        <th>pic</th>
        <th>edit</th>
        <th>tags</th>
      </tr>
    </thead>
    <tbody>
      <% @pictures.each do |picture| %>
      <% if picture.user_id == current_user.id %>
        <% image = "<img src=\"#{picture.url}\">" %>
          <tr>
            <td><%= picture.id %></td>
            <td><%= link_to picture.url, picture.url %></td>
            <td><a href="<%= picture.url %>"><img src="<%= picture.url %>" width= 100px></a></td>
            <td><%= link_to "edit", edit_picture_path(picture) if user_signed_in? %></td>
            <td> tags </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

