<div class="container">

  <p>
  <img src="<%= @picture.url %>" class="img-rounded">
  </p>

  <p>
  <strong>Added by:</strong> <%= link_to @picture.user_name, user_path(@picture.user) %>
  </p>

  <p>
  <strong>Tags:</strong> <% @picture.tags.each do |tag| %>
  #<%= link_to tag.tag_name, tag %>
  <% end %>
  </p>

<% if self.current_user == @picture.user %>
  <%= form_for @tag do |f|  %>
  <p>
    <%= f.label "add a tag:" %>
    <%= f.text_field :tag_name %>

    <%= f.hidden_field :picture_id %>
    <%= f.hidden_field :user_id %>

    <%= f.submit "add!", class: "btn btn-default" %>
    <% end %>
  </p>

  <br/>
  <p>
    <strong>Original gif link:</strong> <%= link_to @picture.url, @picture.url %>
  </p>

  <p>
    <strong>Gfycat link:</strong> <%= link_to @picture.gfy_url, @picture.gfy_url %>
  </p>

  <br/>

  <p>
    <% if self.current_user == @picture.user %>
    <%= button_to "Remove this gif", @picture, method: :delete, class: "btn btn-default" %>
    <% end %>
    <% end %>
  </p>

  <p>
    <%= link_to "back to library", pictures_path %>
  </p>

</div>
