
<p><img src="<%= @picture.url %>"></p>

<p> URL: <%= link_to @picture.url, @picture.url %></p>

<p> GFYCAT: <%= link_to 'gfycat', @picture.url %></p>

<p>save to cutecache</p>
<p>tags</p>


<%= link_to "back to library", pictures_path %>


<%= form_for @picture.tag do |f| %>

<div class="container">
  <p>
  <%= f.label "enter a tag" %>
  <%= f.text_field :tag_name %>
  <p>
  <%= f.hidden_field :picture_id %>
  <%= f.hidden_field :user_id %>

  <%= f.submit "save"%>
  <% end %>
</div>
