<!DOCTYPE html>
<html>
<head>
  <title>GifWallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">

  <a class="navbar-brand" href="/pictures">GifWallet!</a>

  <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "signed in as #{current_user.email}", user_path(current_user)  %></li>
      <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Create Acct", new_user_registration_path %></li>
      <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
      <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
    </ul>
  <% end %>
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
